:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    position: relative;
    margin-bottom: 50px;
    font-size: 22px;
}
.sidebar > h3::before,
.sidebar > h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: black;
}
.sidebar > h3::before {
    bottom: -20px;
    width: 80px;
    height: 2px;
}
.sidebar > h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px white solid;
}
.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .sidebar > h3{
        font-size: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .sidebar > h3::before,
    .sidebar > h3::after  {
       display:none;
    }
}
@media (max-width: 767px) {
    .sidebar ul li a span{
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content {
    overflow: hidden;
}
.content .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.content .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.content .search input:focus {
    width: 200px;
}
.content .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::after {
    background-color: #000000;
    width: 40px;
}
.page h1::before {
    background-color: white;
    width: 120px;
}
.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.wrapper .welcome {
    overflow: hidden;
    border-radius: 10px;
}
.wrapper .intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eeeeee;
}
.wrapper .welcome .text h2 {
    margin: 0;
}
.wrapper .welcome .text p {
    padding: 0px 0px 20px;
    color: #777;
    font-size: 14px;
}
.wrapper .welcome .image img {
    width: 200px;
    margin-bottom: -10px;
}
@media (max-width: 767px) {
    .wrapper .welcome .image img {
        width: 130px;
    }
}
.wrapper .welcome .avatar {
    position: relative;
}
.wrapper .welcome .avatar img {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px
}
@media (max-width: 767px) {
    .wrapper .welcome .avatar img {
        width: 50px;
        height: 50px;
        margin-left: -256px;
        margin-top: -23px;
    }
}
.wrapper .welcome .bode-1 {
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 767px) {
    .wrapper .welcome .bode-1 {
        justify-content: space-between;
    }
}
.wrapper .welcome .bode-1 .box h4 {
    margin: 0;
}
.wrapper .welcome .bode-1 .box p {
    margin: 4px;
}
.wrapper .welcome a {
    display: block;
    color: white;
    background-color: var(--blue-color);
    font-size: 14px;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 0 15px 30px auto;
    transition: 0.3s;
}
.wrapper .Quick-Draft {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
.wrapper .Quick-Draft h2 {
    margin: 0;
}
.wrapper .Quick-Draft p {

    color: #777;
    font-size: 14px;
}
.wrapper .Quick-Draft form .input-1 {
    width: 100%;
    margin: 10px 0 22px;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    display: block;
}
.wrapper .Quick-Draft form .input-2 {
    width: 100%;
    resize: none;
    min-height: 180px;
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    display: block;
}
.content .search input:focus {
    outline: none;
}
.wrapper .Quick-Draft form .input-1:focus::placeholder {
    opacity: 0;
}
.wrapper .Quick-Draft form .input-2:focus::placeholder {
    opacity: 0;
}
.wrapper .Quick-Draft a {
    display: block;
    color: white;
    background-color: var(--blue-color);
    font-size: 14px;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 14px 0px 30px auto;
    transition: 0.3s;
}
/* End Content */